<div class="container">
  <div class="upper-data">
    <img src="../assets/images/cold.jpeg" alt="cold" *ngIf="14 > 15"/>
    <img src="../assets/images/hot.jpeg" alt="hot" *ngIf="14 < 15"/>

    <div class="weather-data">
      <div class="weather-dataLocation">Wellington</div>
      <div class="weather-dataTemperature">{{14.40 | number: '1.0-0'}}ºC</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-infoLabel">
      More Information
    </div>
    <div class="more-infoContainer">
      <div class="info-block">
        <div class="info-blockLabel">
          <img src="../assets/images/min.png" alt="min" class="info-blockLabelImg">
          <span class="info-blockLabelSpan">min</span>
        </div>
        <div class="info-blockValue">
          10ºC
        </div>
      </div>

      <div class="info-block">
        <div class="info-blockLabel">
          <img src="../assets/images/max.png" alt="max" class="info-blockLabelImg">
          <span class="info-blockLabelSpan">max</span>
        </div>
        <div class="info-blockValue">
          30ºC
        </div>
      </div>

      <div class="info-block">
        <div class="info-blockLabel">
          <img src="../assets/images/humidity.png" alt="min" class="info-blockLabelImg">
          <span class="info-blockLabelSpan">humidity</span>
        </div>
        <div class="info-blockValue">
          65%
        </div>
      </div>

      <div class="info-block">
        <div class="info-blockLabel">
          <img src="../assets/images/wind.png" alt="min" class="info-blockLabelImg">
          <span class="info-blockLabelSpan">wind</span>
        </div>
        <div class="info-blockValue">
          19km/h
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>